@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Noto+Serif+SC:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #09090b; /* zinc-950 */
  color: #e4e4e7; /* zinc-200 */
}

.font-serif-sc {
  font-family: 'Noto Serif SC', serif;
}
